{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Edit Profile" %}{% endblock head_title %}

{% block content %}
<div class="bg-img-container">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4 mt-5">
          <div class="bg-light p-4 custom-form">
            <h3 class="text-center">{% trans "Edit Your Profile" %}</h3>
            <form class="edit-profile" method="POST" action="{% url 'edit_profile' %}">
                {{ profile_form | crispy }}
                {% csrf_token %}
                
                {% if user == profile.user %}
                <div class="row mt-3 justify-content-around align-items-end mt-auto">
                  <div class="col-12 d-flex">
                    <button class="btn btn-sign" type="submit">{% trans "Save Changes" %}</button>
                  </div>
                </div>
                {% endif %}
            </form>  
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock content %}