{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4 mt-5">
          <div class="bg-light p-4 custom-form">
            <h3 class="text-center mb-3">{% trans "Edit Profile" %}</h3>
            
            <!-- Profile Image  -->
            <div class="text-center">
              {% if profile.profile_image and profile.profile_image.url %}
              <img src="{{ profile.profile_image.url }}" class="rounded-circle custom-border" width="150" height="150" alt="Profile Image">
             {% else %}
              <img class="rounded-circle custom-border" role="img" src="{% static 'images/logo-brand.webp' %}" width="200" height="200" alt="Default Image">
             {% endif %}
            </div>
            <!-- Profile Info Form -->
            <form class="edit-profile" method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ profile_form.media }}
              {{ profile_form | crispy }}
               <!-- Edit Profile Button -->
              {% if user == profile.user %}
              <div class="row mt-3 justify-content-around align-items-end mt-auto">
                  <div class="col-12 d-flex">
                      <button class="btn btn-sign mt-2" type="submit">{% trans "Save Changes" %}</button>
                  </div>
              </div>
              {% endif %}
            </form>
        </div>
      </div>      
    </div>
  </div>

{% endblock content %}