{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Profile" %}{% endblock head_title %}

{% block content %}
<div class="bg-img-container">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 mb-4 mt-5">
              <div class="bg-light p-4 custom-form">
                  <h3 class="text-center">{% trans "Profile" %}</h3>
                  <form class="profile" method="POST" action="{% url 'profile' profile=request.user.username %}">
                    <!-- Profile Info -->
                    <div class="col-md-7 d-flex flex-column pt-3">
                      <div class="profile-img">
                        {% if "placeholder" in profile.profile_image.url %}
                        <img class="rounded-circle" role="img" src="{% static 'images/default-profile.png' %}" width="200" height="200">
                        {% else %}
                        <img src="{{ profile.profile_image.url }}"class="rounded-circle" width="150" height="150" alt="Featured Image">
                        {% endif %}
                      </div>
                      <h3>{{ profile }}</h3>
                      <p>
                        <strong>Bio:</strong> {{ profile.bio }}
                      </p>
                      <p>
                        <strong>Recipes:</strong> {{ posted_recipes|length }}
                      </p>
                      <p>
                        <strong>Posts:</strong>
                    </p>
                    <ul>
                        {% for post in user_posts %}
                            <li>{{ post.title }}</li>
                        {% endfor %}
                    </ul>

                    {% if user == profile.user %}
                    <div class="row mt-3 justify-content-around align-items-end mt-auto">
                      <div class="col-12 d-flex">
                        <!-- Edit profile -->
                        <a href="{% url 'edit_profile' %}" class="btn btn-sign">Edit Profile</a>
                      </div>
                    </div>
                    {% endif %}
                  </form>
              </div>
          </div>
       </div>
   </div>
</div>
{% endblock content %}