{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}Profile{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 mb-4 mt-5">
              <div class="bg-light p-4  mx-auto custom-form">
                  <h3 class="text-center">{% trans "Profile" %}</h3>
                    <form class="profile" method="POST" action="{% url 'profile' profile=request.user.username %}">
                        <!-- Profile Info -->
                        <div class="container profile-container mt-2">
                            <div class="row">
                                <!-- Profile Image  -->
                                <div class="text-center">
                                    {% if profile.profile_image and profile.profile_image.url %}
                                        <img src="{{ profile.profile_image.url }}" class="rounded-circle custom-border" width="150" height="150" alt="Profile Image">
                                    {% else %}
                                        <img class="rounded-circle custom-border" role="img" src="{% static 'images/logo-brand.webp' %}" width="200" height="200" alt="Default Image">
                                    {% endif %}
                                </div>
                                <!-- Profile Info -->
                                <div class="row">
                                    <div class="profile-info mt-2">
                                        <h3>{{ profile }}</h3>
                                        <p><strong>Bio:</strong> {{ profile.bio }}</p>
                                        <p><strong>Recipes:</strong> {{ posted_recipes|length }}</p>
                                    </div>
                                </div>
                                <!-- Edit Profile Button -->
                                {% if user == profile.user %}
                                    <div class="row mt-3 justify-content-around align-items-end mt-auto">
                                        <div class="col-12 d-flex text-end">
                                            <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-sign">Edit Profile</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        </br>

                        <!-- Profile card posts -->
                        <div class="col-8 mt-0">
                            <p><strong>Posts:</strong></p>
                        </div>
                        <div class="col-md-10 bg-light ">
                            {% for post in user_posts %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    </div><div class="row">
                                {% endif %}
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <div class="card text-bg-dark costum-card-profile">
                                        {% if "placeholder" in post.featured_image.url %}
                                            <img class="card-img-top custom-card-img" src="https://images.pexels.com/photos/4551832/pexels-photo-4551832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%; height: 200px; object-fit: cover;">
                                        {% else %}
                                            <img class="card-img-top custom-card-img" src="{{ post.featured_image.url }}">
                                        {% endif %}
                                        <div class="card-img-overlay position-relative">
                                            <div class="title-background"></div>
                                            <h5 class="card-title text-white position-absolute bottom-0 mb-5">{{ post.title }}</h5>
                                        </div>
                                        <div class="card-footer">
                                            <span class="card-counter"><i class="fa-solid fa-heart"></i> {{ post.number_of_likes }}</span>
                                            <span class="card-counter"><i class="fa-solid fa-comment"></i> {{ post.total_comments }}</span>
                                            <a href="{% url 'post_detail' post.slug  %}" class="link stretched-link float-end">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}