{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<main class="form-signin w-100 m-auto">
  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <!-- <img class="mb-4 d-block mx-auto" src="" alt="" width="72" height="57"> -->
    <p>{% blocktrans %} Welcome to TastyTales blog. To leave a comment or like a post, please log in.
      If you have not created an account yet, then 
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p><br/>
    <h3 class="text-center">{% trans "Sign In" %}</h3>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
      <label for="floatingInput">{% trans "Email address" %}</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">{% trans "Password" %}</label>
    </div>

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        {% trans "Remember me" %}
      </label>
    </div>

    <button class="btn btn-signup w-100 py-2" type="submit">{% trans "Sign In" %}</button>
  </form>
</main>


{% endblock content %}
