{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="bg-img-container">
    <div class="welcome-container">
    <p class="text-center">
      {% blocktrans %} 
      Share your secret recipes, leave your delectable comments, and savor the flavors by liking our posts. <br/>
      If you haven't joined our community of food enthusiasts yet,<br/>
      it's time to <a class="link-sign" href="{{ signup_url }}">Sign Up</a> and savor the experience.
      {% endblocktrans %}
    </p><br/>
  </div>
  <div class="row">
    <div class="form-signin form-sign w-100 m-auto">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        <h3 class="text-center">{% trans "Sign In" %}</h3>
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-sign" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}