{% extends "base.html" %}

{% load i18n %}
{% block title %}SignUp{% endblock %}

{% block content %}

<div class="bg-img-container" style="background-image: url('https://res.cloudinary.com/dx3tbsinf/image/upload/v1703849853/static/images/bg-img.e63dabd560ec.jpg')">
  <div class="welcome-container">
    <div class="row mt-5 pt-5">
      <div class="col-lg-6 mx-auto">
        <p class="text-center mt-5 pt-5">
          {% blocktrans %}
          Already have an account? <br>Then please <a class="link-sign" href="{{ login_url }}">Sign In</a>.
          {% endblocktrans %}
        </p>
        <div class="form-sign form-signup w-100 m-auto mt-2">
          <form id="signup_form" method="post" action="{% url 'account_signup' %}">
            <h1 class="text-center">{% trans "Sign Up" %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-center">
              <button class="btn btn-sign right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
          </form>
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}