
{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="bg-img-container">
  <div class="welcome-container">
    <p class="text-center">{% blocktrans %}Already have an account? </br>Then please <a  href="{{ login_url }}">Sign In</a>.{% endblocktrans %}</p>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="form-sign w-100 m-auto">
          <form id="signup_form" method="post" action="{% url 'account_signup' %}">
            <h1 class="text-center">{% trans "Sign Up" %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-sign right" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}