/* ---------------------------------- Global */

body {
    background-color: #F9FAFC;
    padding-top: 8.5rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* ---------------------------------- Navigation/Logo */
.logo-img {
    max-width: 180px;
    max-height: 150px;
    margin-left: 30%;
}

.navbar {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}


nav.navbar-nav a.nav-link.active {
    border-bottom: 1px solid #bb9223;
}

.navbar-dark .navbar-toggler {
    background-color: #000; 
    margin: 29px;
    padding: 16px 20px;
    border-color: #fff;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.navbar-toggler:hover {
    background-color: #bb9223; 
    box-shadow: 0 0 10px rgba(187, 159, 35, 0.5); 

}

.nav-item.dropdown {
    list-style: none;
}

/* ---------------------------------- Recipe Cards */

.card {
    border: none;
    background-color: transparent;
}

.post-list-title {
    font-size: 24px;
    font-weight: bold;
}

.image-container {
    position: relative;
    text-align: left;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: #5a5a5fe0;
    margin: 4px;
}

.author-name {
    text-decoration: none;
    color: rgb(115 115 115/var(--tw-text-opacity));
}

/* ---------------------------------- Post detail */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 43vh;
    width: 100%;
}

.masthead-text {
    margin-top: 0;
    background-color: #000;
    color: white;
}

.masthead-text h1 {
    margin-top: 25px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #000000;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #121211;
}

.post-link:hover,
.page-link {
    color: #bb9223;
}

.post-title {
    font-size: 30px;
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.post-recipe-meta {
    margin-left: 5%;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.post-review {
    text-transform: lowercase;
    letter-spacing: normal;
    font-style: italic;
    font-weight: 400;
    font-family: Georgia, times new roman, Times, serif;
    font-size: 12px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
}
/* ---------------------------------- Comment */
.comment-text-field {
    margin-top: 1.3em; 
    margin-bottom: 1em;
}

/* ---------------------------------- Add post page */
.bg-img-container-post {
    background-image: url('../images/add-post-bckgnd-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 40px !important; 
    border: 1px solid transparent;
    border-radius: 10px; 
    backdrop-filter: blur(2px);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.6);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
}

.custom-form .form-control:hover {
    border-color: #bb9223; 
    box-shadow: 0 0 10px rgba(187, 159, 35, 0.5); 
}

.comment-text-field textarea:hover {
    border-color: #bb9223;
    box-shadow: 0 0 10px rgba(187, 159, 35, 0.5); 
}

.comment-text-field {
    margin-top: 1.3em;
    margin-bottom: 1em;
}
/* ---------------------------------- Profile  */

.custom-border {
    border-image: radial-gradient(circle, #000000);
    border-image-slice: 1;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #030303;
}

.card-title {
    margin: 5px auto;
}

.title-background {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 81px;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-footer {
    margin-top: -40px;
}

/* ---------------------------------- Sign In */
.bg-img-container {
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.welcome-container {
    padding-top: 50px; 
} 

.welcome-container p {
    margin-top: 20px;
    color: #fff;
}
.form-signin {
    max-width: 330px;
}
.form-signout {
    max-width: 500px;
}
.form-signup {
    max-width: 500px;
}
.form-sign {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 40px !important; 
    border: 1px solid transparent;
    border-radius: 10px; 
    backdrop-filter: blur(2px);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); 
    background-color: rgba(0, 0, 0, 0.6);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
}

.form-sign form {
    color: #fff;
}

.form-sign input[type="text"] {
    background-color: #fff;
    color: #333;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease; 
}

.form-sign input[type="password"] {
    background-color: #fff;
    color: #333;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.form-sign input[type="email"] {
    background-color: #fff;
    color: #333;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease; 
}

.form-sign input[type="text"]:hover,
.form-sign input[type="password"]:hover,
.form-sign input[type="email"]:hover,
.form-control:hover {
    border-color: #bb9223; 
    box-shadow: 0 0 10px rgba(187, 159, 35, 0.5); 
    transition: all 0.3s ease; 
}

.form-sign form .btn-sign {
    align-self: flex-end;
    margin-top: 10px; 
}

.form-control:active {
    border-color: #bb9223; 
    background-color: #fff;
    color: #333;
}

/* ---------------------------------- Link - Button */
.btn-search {
    background-color: #000;
    color: #fff;
}

.btn-search:hover,
.btn-search:active {
    background-color: #bb9223;
    color: #fff;
    border-color: #fff;
}
.post-buttons {
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px; 
}

.btn-sign {
    background-color: #000;
    color: #fff;
}

.btn-sign:hover,
.btn-sign:active, 
.btn-comment:hover,
.btn-comment:active {
    background-color: #bb9223;
    color: #fff;
}

.btn-edit {
    background-color: #000;
    color: #fff;
    margin-top: auto;
}

.btn-delete {
    background-color: #000;
    color: #fff;
}

.btn-delete:hover,
.btn-delete:active {
    background-color: #fd0000;
    color: #fff;
}

.btn-comment {
    margin: 0 5px;
    background-color: #000;
    color: #fff;
}

.btn-send {
    margin-top: 10px;
    margin-right: 5px;
}

.login button.btn-sign,
.btn-sign {
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
}

.nav-link {
    display: inline;
    color: #000000;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #bb9223 !important;
}

.nav-link:hover {
    color: #bb9223;
}

button.nav-link.btn.me-2, button.nav-link.btn-signup {
    padding-left: 1rem;
    padding-right: 1rem;
}

.link {
    color: #000000;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #bb9223;
    font-weight: bold;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
/* ---------------------------------- Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo h2 {
    margin: 0;
    margin-top: 40px;
}


.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.text-muted span {
    display: block;
    margin-top: 10px;
}

.social-links .social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.footer-navigation .footer-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-link:hover {
    text-decoration: underline;
}

.footer-link:hover {
    text-decoration: underline;
}

.copy-text {
    font-size: 14px;
}
/* ----------------------------------  Media Queries */
@media (max-width: 768px) {
    .logo-image {
        width: 50%;
        height: 20%;
    }
}

@media (max-width: 480px) {
    .logo-image {
        width: 30%; 
        height: 25%;
    }
}