{% extends "base.html" %}
{% block title %}404 Page Not Found{% endblock %}
{% block content %}
<div class="container-fluid vh-100">
    <div class="container-fluid mt-5 pt-4">
        <div class="row text-center mt-5">
            <h2 class="fs-1">404</h2>
            <h3>Page unavailable</h3>
            <p>This page doesn't exist.</p>
        </div>
        <div class="row text-center">
            <div class="col-sm-10 offset-sm-1 mt-5">
                <h4>Can't find what you're looking for?</h4>
                <p>Looks like nothing was found at this location.
                    Maybe try one of the links below, click on the top menu
                    or try a search?
                </p> 
                <!-- Search bar -->
                <div class="d-flex justify-content-center">
                    <form class="s row gx-3 align-items-center justify-content-center" role="search" method="POST" action="{% url 'search_results' %}">
                        {% csrf_token %}
                        <div class="col-auto m-2">
                            <input class="form-control" type="search" placeholder="Search recipes" name="searched" aria-label="Input search">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-search btn-dark fw-bold" type="submit" aria-label="Search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}