{% extends "base.html" %}
{% block title %}Add Post{% endblock %}
{% block content %}

<!-- User must be logged in -->
{% if user.is_authenticated %}
<div class="bg-img-container" style="background-image: url('https://res.cloudinary.com/dx3tbsinf/image/upload/v1703849853/static/images/bg-img.e63dabd560ec.jpg')">
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-10">
                <div class="bg-light p-4 custom-form">
                    <h2 class="h4 font-weight-bold mb-3">Create Post</h2>
                    <form method="post" action="{% url 'add_post' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-evenly mt-3">
                            <button type="submit" name="save_post" value="1" class="btn btn-sign">Save Draft</button>
                            <button type="submit" name="publish_post" class="btn btn-sign">Publish</button>
                        </div>  
                    </form>
                </div>            
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}