{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% block title %}New Post{% endblock %}
<!-- User must be logged in -->
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <!-- Column 1: Editing Your Post -->
        <div class="col-lg-4 mb-4">
            <div class="bg-light p-4 rounded shadow">
                <h1 class="h4 font-weight-bold mb-3">Editing your post</h1>
                <p class="text-muted mb-3">The body of your content can be edited using the Rich Text Editor. 
                    Your post remains private until you “publish” the article.</p>
                    <button class="btn btn-primary">View Preview</button>
                    <br/><br/>
                    <h2 class="h4 font-weight-bold mb-3">How to use the editor</h2>
                    <p class="text-muted mb-3">You can edit and format the main content 
                    of your article using Rich Text Editor. </p>
                
            </div>
        </div>
        <!-- Column 2: Post Form -->
        {% if posted %}
        <div class="col-lg-6 mb-4 alert alert-success" role="alert">
            Your Post is awaiting approval
        </div>
        {% else %}
        <div class="col-lg-6 mb-4">
            <div class="bg-light p-4 rounded shadow">
                <h2 class="h4 font-weight-bold mb-3">Create a New Post</h2>
                <form method="post" action="{% url 'add_post' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                   
                    <button type="submit" class="btn btn-primary">Publish</button>
                </form>
        {% endif %}
            </div>            
        </div>
    </div>
</div>
{% endif %}
{% endblock %}