<!-- edit_draft.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Draft{% endblock %}
{% block content %}
<div class="bg-img-container-post">
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="bg-light p-4 custom-form">
                    <h2>Draft</h2>
                    <form method="post" action="{% url 'publish_draft' slug=draft.slug %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form | crispy }}
                        <div class="d-flex justify-content-evenly mt-3">
                          <a href="{% url 'delete_draft' slug=draft.slug %}" class="btn btn-sm btn-delete btn-outline-danger">Delete</a>  
                          <button type="submit" name="save_draft" value="1" class="btn btn-sm btn-draft">Save Draft</button>
                          <button type="submit" name="publish_draft" class="btn btn-sm btn-draft">Publish</button>   
                        </div>
                    </form>
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
