{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 min-vh-100">
        <!-- Tag post section -->
        <h3 class="">Most Common Tags:
            {% for tag in common_tags %}
            <a href="{% url 'tagged' tag.slug %}" class="badge bg-warning text-dark text-decoration-none">#{{ tag }}</a>
            {% endfor %}
        </h3>
        
        <div class="row mb-2 posts">
            {% for post in posts %}
            <div class="col-md-6">
                <div class="cards">
                    <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                        <div class="col p-4 d-flex flex-column">
                            <img src="{{ post.featured_image.url }}" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;" alt="{{ post.title }}">
                            <h3 class="my-1"><a class="text-decoration-none link"href="{% url 'post_detail' post.slug %}">{{post.title}}</a></h3>
                            <div style="display: flex;">
                                {% for tag in post.tags.all %}
                                <a href="{% url 'tagged' tag.slug %}" class="badge bg-warning text-dark text-decoration-none m-1">#{{ tag }}</a>
                                {% endfor %}
                            </div>                                    
                            <p class="mb-auto">{{post.excerpt}}</p>
                            <p class="mb-auto"><i class="fa-solid fa-heart"></i> {{post.number_of_likes}}</p>
                        </div>
                    </div>
                </div>       
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
